@model EntregaFinalPSP2024.Models.Usuario

@{
    ViewData["Title"] = "Detalles del Usuario";
}

<div class="container mt-4">
    <h1 class="text-primary">Detalles del Usuario</h1>
    <h4 class="text-secondary">Información</h4>
    <hr />
    <dl class="row">
        <!-- Campo Nombre -->
        <dt class="col-sm-3 fw-bold text-dark">
            Nombre
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <!-- Campo Email -->
        <dt class="col-sm-3 fw-bold text-dark">
            Correo Electrónico
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <!-- Campo Contraseña -->
        <dt class="col-sm-3 fw-bold text-dark">
            Contraseña
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Contrasena)
        </dd>

        <!-- Campo Nivel -->
        <dt class="col-sm-3 fw-bold text-dark">
            Nivel
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nivel)
        </dd>

        <!-- Campo Rol -->
        <dt class="col-sm-3 fw-bold text-dark">
            Rol
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IdRolNavigation.Nombre)
        </dd>
    </dl>

    <!-- Botones -->
    <div class="d-flex justify-content-start">
        <a class="btn btn-warning me-2" asp-action="Edit" asp-route-id="@Model?.Id">
            <i class="bi bi-pencil"></i> Editar
        </a>
        <a class="btn btn-secondary" asp-action="Index">
            <i class="bi bi-arrow-left"></i> Volver a la Lista
        </a>
    </div>
</div>
