@model IEnumerable<EntregaFinalPSP2024.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<br /><br /><h1>Usuarios</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>
            <th>
               Rol
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contrasena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nivel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRolNavigation.Nombre)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil"></i> Editar</a> 
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i> Detalles</a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('¿Estás seguro de que deseas eliminar este Registro?');"><i class="bi bi-trash"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>