@model IEnumerable<EntregaFinalPSP2024.Models.Estadistica>

@{
    ViewData["Title"] = "Inicio";
}

<br /><br /><h1>Inicio</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TiempoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intentos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resultado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRealizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEjercicioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intentos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resultado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRealizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEjercicioNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Id)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil"></i> Editar</a> 
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i> Detalles</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('¿Estás seguro de que deseas eliminar este Registro?');"><i class="bi bi-trash"></i> Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
